.tweet {
  /* background-color: #00ff40; */
  background-color: #fff;
  border-color: #cfd9de;
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.thumbnail_img {
  margin-right: 12px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.name {
  color: #000;
  font-family: sans-serif;
  font-size: 15px;
  margin-right: 4px;
  font-weight: bold;
}

.metadata {
  color: #71767b;
  font-family: sans-serif;
  font-size: 15px;
  /* Use &middot; for the dot; */
}

.message {
  color: #0f1419;
  font-family: sans-serif;
  font-size: 15px;
}

.actions-row {
  max-width: 425px;
}

.icon {
  color: #536471;
  size: 16px;
  margin-right: 12px;
}

/* Vertically centered with the count */
.action-count {
  color: #536471;

  font-size: 13px;
  vertical-align: top;
}
